<section class="live-shortcode z-50 fixed bottom-0 flex flex-col max-w-2xl mr-auto w-full">

	<div class="bg-gray-100 gap-2 rounded-t-3xl" x-data="{open: false}">
		<div class="flex w-full justify-between items-center pt-3 pb-2 px-8">
			<span class="text-gray-700 font-bold text-lg">Debug</span>
			<button class="bg-gray-800 text-gray-300 py-1  px-4 rounded-md" x-text="open ? 'Deactivate' : 'Activate'" x-on:click="open = !open"></button>
		</div>
		<div x-show="open">
			{{ include('@helper/prism.twig') }}
		</div>
	</div>
</section>
