<section>
  <div
    class="relative px-6 py-24 overflow-hidden bg-white isolate sm:py-32 lg:px-8"
  >
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true"
    >
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem] from-primary-dark/70 to-primary-dark/10"
      ></div>
    </div>

    <div class="max-w-2xl mx-auto text-center">
      <h2
        class="text-3xl font-black tracking-tight text-gray-900 uppercase sm:text-4xl brand-gradient"
      >
        join our waitlist
      </h2>

      <p class="mt-2 text-lg leading-8 text-gray-600">
        Ready to get started with solar, without all the headaches?
      </p>
    </div>

    <form
      class="max-w-xl mx-auto mt-16 sm:mt-20"
      action="#"
      method="POST"
    >
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label
            class="block text-sm font-semibold leading-6 text-gray-900"
            for="first-name"
            >First name</label
          >

          <div class="mt-2.5">
            <input
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <label
            class="block text-sm font-semibold leading-6 text-gray-900"
            for="last-name"
            >Last name</label
          >

          <div class="mt-2.5">
            <input
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            class="block text-sm font-semibold leading-6 text-gray-900"
            for="email"
            >Email</label
          >

          <div class="mt-2.5">
            <input
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
      </div>

      <div class="mt-10">
        <button
          class="block w-full rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-primary hover:bg-primary-dark focus:bg-primary-dark capitalize"
        >
          join the wait
        </button>
      </div>
    </form>
  </div>
</section>
