/* Custom theme styles */

body {
  background: white;
}

.cc-scrolld-down[data-cc-scroll-action="downSlideUp"]:not(
    .cc-scrolld-top-offset
  ) {
  transform: translateY(-100%);
}
.cc-scrolld-down[data-cc-scroll-action="downSlideDown"]:not(
    .cc-scrolld-top-offset
  ),
.cc-scrolld-up[data-cc-scroll-action="upSlideDown"]:not(
    .cc-scrolld-bottom-offset
  ) {
  transform: translateY(0);
}
.cc-scrolld-up[data-cc-scroll-action="upSlideUp"]:not(
    .cc-scrolld-bottom-offset
  ) {
  transform: translateY(-100%);
}
[data-cc-scroll-direction] {
  transition-duration: var(--cc-scrolld-transition, 0.4s);
  transition-property: transform;
}
.added_to_cart {
  display: none;
}
.cc-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--base-color);
  border-radius: 0.25rem;
  display: inline-flex;
  height: var(--cc-skeleton-height);
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: var(--cc-skeleton-width, 100%);
  z-index: 1;
}
.cc-loading-skeleton-top {
  background-color: transparent !important;
}
@keyframes cc-loading-skeleton {
  to {
    transform: translateX(100%);
  }
}
.cc-loading-skeleton:not(.cc-no-anim):after {
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-name: cc-loading-skeleton;
  animation-timing-function: ease-in-out;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  background-repeat: no-repeat;
  content: " ";
  display: var(--pseudo-element-display);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}
.cc-gallery-description,
.cc-gallery-title {
  z-index: 2;
}
.cc-underline {
  text-decoration: underline;
}
.cc-swatch:not(select) {
  display: contents;
}
.cc-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.cc-overlay-video-background {
  background-color: var(--videooverlay);
  background-image: var(--videooverlaygradient);
  height: 100%;
  left: 0;
}
.cc-overlay-video-background,
.cc-separator-bottom-self,
.cc-separator-top-self {
  position: absolute;
  top: 0;
  width: 100%;
}
.cc-separator-wrapper-bottom {
  bottom: 0;
  filter: var(--filterbottomseparator);
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: auto;
}
.cc-separator-wrapper-top {
  bottom: auto;
  filter: var(--filtertopseparator);
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@keyframes ccVideoFadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.cc-background-video:after {
  animation: ccVideoFadeOut 1s ease 2s 1 normal forwards;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: var(--opacity);
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 1.5s;
  width: auto;
}
.cc-background-video video {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotate(0);
}
video {
  display: block;
  height: 100%;
  width: 100%;
}
.cc-aos {
  opacity: 0;
}
.cc-aos,
.is-hidden {
  visibility: hidden;
}
.cc-iframe-container {
  height: 0;
  position: relative;
}
.cc-iframe-container iframe,
.cc-iframe-container video,
.cc-video-placeholder {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cc-video-placeholder {
  cursor: pointer;
  display: flex;
  z-index: 1;
}
.cc-button-icon {
  display: flex !important;
  justify-content: center;
}
.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) normal
    both;
}
.scale-in-center-reverse {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
}
@keyframes scale-in-center {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.cc-menu {
  width: 100%;
}
.cc-menu a {
  white-space: nowrap;
}
.cc-menu-main,
.cc-menu-sub {
  align-items: center;
  display: flex;
}
ul.cc-menu {
  display: flex;
  list-style-type: none;
}
ul.cc-menu.hor {
  align-items: center;
  flex-direction: row;
}
ul.cc-menu.ver {
  flex-direction: column;
}
ul.cc-menu li {
  position: relative;
}
.cc-menu-dropdown a {
  display: flex;
}
ul.cc-menu.hor .cc-menu-dropdown .cc-menu-dropdown {
  left: 100%;
  position: absolute;
  top: 0;
}
.cc-sldc {
  height: 100%;
  width: 100%;
}
.video-background {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.video-background iframe {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}
.video-background-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background iframe {
    width: 177.78vh;
  }
}
.cc-inner {
  align-items: inherit;
  display: inherit;
  flex-direction: inherit;
  height: 100%;
  justify-content: inherit;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
.cc-masonry {
  display: grid;
}
.cc-masonry-item {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.cc-gallery {
  display: grid;
}
.cc-gallery-card {
  display: flex;
  margin: 0;
  overflow: hidden;
}
.cc-gallery-card.hide {
  display: none;
}
.cc-gallery-lightbox {
  display: flex;
  height: 100%;
  width: 100%;
}
.cc-columns {
  width: 100%;
}
.cc-svg {
  height: 16px;
  width: 16px;
}
.cc-btn svg,
.cc-svg {
  fill: currentColor;
}
.cc-icn {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.cc-icn svg {
  fill: currentColor;
  display: block;
}
.cc-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cc-modaler {
  width: -moz-fit-content;
  width: fit-content;
}
.cc-acd,
.cc-modaler {
  position: relative;
}
.cc-acdc {
  display: flex;
}
.cc-maps {
  position: relative;
}
.cc-tbc {
  display: flex;
}
.cc-vid {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cc-vid .cc-iframe-container {
  width: 100%;
  z-index: 1;
}
.cc-ovrl {
  position: relative;
}
.cc-cntr,
.cc-sct {
  width: 100%;
}
.cc-cntr {
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
}
.splide {
  width: 100%;
}
[cc-hidden] {
  display: none !important;
}
[data-cc-accordion-content] {
  overflow: hidden;
  transition: var(--cc-accordion-transition, 0.2s) max-height;
  will-change: max-height;
}
[data-cc-accordion-content] :not(.cc-acdc) {
  transition: visibility 0s !important;
}
.cc-accordion-hidden [data-cc-accordion-content] {
  opacity: 0;
  position: fixed;
  visibility: hidden;
}

[role="tabpanel"].cc-tab-content-hidden {
  display: none;
}
.cc-icon-list li {
  align-items: center;
  display: flex;
  list-style: none;
  white-space: pre-wrap;
}
.cc-icon-list li li:before {
  content: "";
}
.swiper {
  height: 100%;
}
.cc-hamburger {
  cursor: pointer;
  height: var(--cc-ha_h, 48px);
  position: relative;
  transition: var(--cc-ha_t, 0.4s) cubic-bezier(0, 0, 0, 1);
  width: var(--cc-ha_w, 48px);
  z-index: 103;
}
.cc-hamburger .line {
  top: var(--cc-ha_lt, 12px);
}
.cc-hamburger .line,
.cc-hamburger .line-small {
  background: var(--cc-ha_c, currentcolor);
  border-radius: var(--cc-ha_br);
  height: var(--cc-ha_lh, 3px);
  left: var(--cc-ha_ll, 6px);
  position: absolute;
  transform: none;
  transition: all calc(var(--cc-ha_t, 0.4s) / 2) cubic-bezier(0, 0, 0, 1) 0s;
  width: var(--cc-ha_lw, 36px);
}
.cc-hamburger .line-small {
  top: var(--cc-ha_lt, 16px);
}
.cc-hamburger > div {
  transform: none;
}
.cc-hamburger > .line:nth-child(2),
.cc-hamburger > div:nth-child(2) .line {
  top: var(--cc-ha_llt, 23px);
}
.cc-hamburger > .line:nth-child(3),
.cc-hamburger > div:nth-child(3) .line {
  top: var(--cc-ha_lllt, 34px);
}
.cc-hamburger > .line-small:nth-child(2),
.cc-hamburger > div:nth-child(2) .line-small {
  top: var(--cc-ha_llt, 29px);
}
.cc-hamburger.active.cc-hamburger-squash .line,
.cc-hamburger.active.cc-hamburger-twirl .line,
.cc-hamburger.cc-hamburger-pivot > div,
.cc-hamburger.cc-hamburger-squash > div,
.cc-hamburger.cc-hamburger-squeeze > div,
.cc-hamburger.cc-hamburger-twirl > div {
  transition: all calc(var(--cc-ha_t, 0.4s) / 2) cubic-bezier(0, 0, 0, 1)
    calc(var(--cc-ha_t, 0.4s) / 2);
}
.cc-hamburger.active.cc-hamburger-squash > div,
.cc-hamburger.active.cc-hamburger-twirl > div {
  transition: all calc(var(--cc-ha_t, 0.4s) / 2) cubic-bezier(0, 0, 0, 1) 0s;
}
.cc-hamburger.active.cc-hamburger-squash > div:first-child,
.cc-hamburger.active.cc-hamburger-twirl > div:first-child {
  transform: translateY(var(--cc-ha_wt, 11px));
}
.cc-hamburger.active.cc-hamburger-squash > div:nth-child(2),
.cc-hamburger.active.cc-hamburger-twirl > div:nth-child(2) {
  opacity: 0;
}
.cc-hamburger.active.cc-hamburger-squash > div:nth-child(3),
.cc-hamburger.active.cc-hamburger-twirl > div:nth-child(3) {
  transform: translateY(var(--cc-ha_wtt, -11px));
}
.cc-hamburger.active.cc-hamburger-squash > div:first-child .line,
.cc-hamburger.active.cc-hamburger-twirl > div:first-child .line {
  transform: rotate(45deg);
}
.cc-hamburger.active.cc-hamburger-squash > div:nth-child(3) .line,
.cc-hamburger.active.cc-hamburger-twirl > div:nth-child(3) .line {
  transform: rotate(-45deg);
}
.cc-hamburger.active.cc-hamburger-pivot .line-small,
.cc-hamburger.active.cc-hamburger-squeeze .line-small {
  transition: all calc(var(--cc-ha_t, 0.4s) / 2) cubic-bezier(0, 0, 0, 1)
    calc(var(--cc-ha_t, 0.4s) / 2);
}
.cc-hamburger.active.cc-hamburger-pivot > div,
.cc-hamburger.active.cc-hamburger-squeeze > div {
  transition: all calc(var(--cc-ha_t, 0.4s) / 2) cubic-bezier(0, 0, 0, 1) 0s;
}
.cc-hamburger.active.cc-hamburger-pivot > div:first-child,
.cc-hamburger.active.cc-hamburger-squeeze > div:first-child {
  transform: translateY(var(--cc-ha_wst, 6.5px));
}
.cc-hamburger.active.cc-hamburger-pivot > div:nth-child(2),
.cc-hamburger.active.cc-hamburger-squeeze > div:nth-child(2) {
  transform: translateY(var(--cc-ha_wstt, -6.5px));
}
.cc-hamburger.active.cc-hamburger-pivot > div:first-child .line-small,
.cc-hamburger.active.cc-hamburger-squeeze > div:first-child .line-small {
  transform: rotate(45deg);
}
.cc-hamburger.active.cc-hamburger-pivot > div:nth-child(2) .line-small,
.cc-hamburger.active.cc-hamburger-squeeze > div:nth-child(2) .line-small {
  transform: rotate(-45deg);
}
.cc-hamburger.active.cc-hamburger-pivot,
.cc-hamburger.active.cc-hamburger-slant,
.cc-hamburger.active.cc-hamburger-tilt,
.cc-hamburger.active.cc-hamburger-twirl {
  transform: rotate(90deg);
}
.cc-hamburger.active.cc-hamburger-rotate,
.cc-hamburger.active.cc-hamburger-sling {
  transform: rotateY(180deg);
}
.cc-hamburger.active.cc-hamburger-spin,
.cc-hamburger.active.cc-hamburger-spiral {
  transform: rotate(180deg);
}
.cc-hamburger.active.cc-hamburger-fade .line:first-child,
.cc-hamburger.active.cc-hamburger-sling .line:first-child,
.cc-hamburger.active.cc-hamburger-spin .line:first-child,
.cc-hamburger.active.cc-hamburger-tilt .line:first-child,
.cc-hamburger.active.cc-hamburger-turn .line:first-child {
  transform: rotate(45deg)
    translate(var(--cc-ha_m, 7.77px), var(--cc-ha_m, 7.77px));
}
.cc-hamburger.active.cc-hamburger-fade .line:nth-child(3),
.cc-hamburger.active.cc-hamburger-sling .line:nth-child(3),
.cc-hamburger.active.cc-hamburger-spin .line:nth-child(3),
.cc-hamburger.active.cc-hamburger-tilt .line:nth-child(3),
.cc-hamburger.active.cc-hamburger-turn .line:nth-child(3) {
  transform: rotate(-45deg)
    translate(var(--cc-ha_m, 7.77px), calc(var(--cc-ha_m, 7.77px) * -1));
}
.cc-hamburger.active.cc-hamburger-cross .line-small:first-child,
.cc-hamburger.active.cc-hamburger-rotate .line-small:first-child,
.cc-hamburger.active.cc-hamburger-slant .line-small:first-child,
.cc-hamburger.active.cc-hamburger-spiral .line-small:first-child {
  transform: rotate(45deg)
    translate(var(--cc-ha_m, 4.59px), var(--cc-ha_m, 4.59px));
}
.cc-hamburger.active.cc-hamburger-cross .line-small:nth-child(2),
.cc-hamburger.active.cc-hamburger-rotate .line-small:nth-child(2),
.cc-hamburger.active.cc-hamburger-slant .line-small:nth-child(2),
.cc-hamburger.active.cc-hamburger-spiral .line-small:nth-child(2) {
  transform: rotate(-45deg)
    translate(var(--cc-ha_m, 4.59px), calc(var(--cc-ha_m, 4.59px) * -1));
}
.cc-hamburger.active.cc-hamburger-tilt .line:nth-child(2) {
  transform: scaleX(0);
}
.cc-hamburger.active.cc-hamburger-fade .line:nth-child(2),
.cc-hamburger.active.cc-hamburger-spin .line:nth-child(2) {
  opacity: 0;
}
.cc-hamburger.active.cc-hamburger-turn .line:nth-child(2) {
  transform: scaleX(0);
}
.cc-hamburger.active.cc-hamburger-sling .line:nth-child(2) {
  transform: scaleX(0) translate(calc(var(--cc-ha_m) * 20));
}
.cc-nav__section {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cc-modal--hs,
.cc-nav__modal--hs {
  overflow: hidden;
}
.cc-nav-dropdown-caret {
  fill: var(--cc-nav-caret-color, #fff);
  filter: drop-shadow(-3px -3px 5px rgba(80, 90, 120, 0.05));
  position: absolute;
  transform: rotate(180deg);
  will-change: transform;
}
.cc-nav-dropdown__button--title-wrapper {
  align-items: center;
  display: inline-flex;
}
.cc-nav-dropdown__button--title-wrapper svg {
  fill: currentColor;
}
.cc-nav {
  display: flex;
}
.cc-nav[placement="fullwidth"]:not([is-modal="true"])
  .cc-nav-dropdown__content {
  border-radius: 0;
  width: calc(100vw - var(--scrollbar-width));
}
.cc-nav[placement="fullwidth"]:not([is-modal="true"])
  .cc-nav-dropdown__content--wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width, 1366px);
}
.cc-nav[hide-caret="true"] .cc-nav-dropdown-caret {
  display: none;
}
.cc-nav-dropdown__button {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.cc-nav-dropdown__button svg {
  height: 18px;
  width: 18px;
}
.cc-nav__sublevels {
  display: none;
}
.cc-nav-dropdown__button--icon {
  align-items: center;
  display: flex;
}
svg.cc-nav-dropdown__button--icon--full {
  fill: var(--cc-nav-dropdown-icon-color, currentColor);
  height: var(--cc-nav-dropdown-icon-size, 12px);
  transform: rotate(var(--cc-nav-dropdown-icon-rotation-c));
  transition: var(--cc-nav-dropdown-icon-duration, 0.3s) ease;
  width: var(--cc-nav-dropdown-icon-size, 12px);
}
.cc-nav-dropdown[state="open"] svg.cc-nav-dropdown__button--icon--full {
  transform: rotate(var(--cc-nav-dropdown-icon-rotation-o, 180deg));
}
svg.cc-nav-dropdown__button--icon--modal {
  fill: var(--cc-nav-m-dropdown-icon-color, currentColor);
  height: var(--cc-nav-m-dropdown-icon-size, 12px);
  transition: var(--cc-nav-m-dropdown-icon-duration, 0.3s) ease;
  width: var(--cc-nav-m-dropdown-icon-size, 12px);
}
.cc-nav-item {
  align-items: center;
  display: inline-flex;
}
.cc-nav__submenu {
  display: flex;
  flex-direction: column;
}
.cc-nav__submenu-item {
  display: flex;
  list-style: none;
}
.cc-nav__submenu-list {
  display: flex;
  flex-direction: column;
}
.cc-nav__submenu-item--link {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.cc-nav__submenu-item--icon svg {
  fill: currentColor;
  display: block;
  height: 18px;
  width: 18px;
}
.cc-nav__submenu-item--icon__img {
  display: flex;
  width: 18px;
}
.cc-nav__submenu-item--icon__img img {
  -o-object-fit: cover;
  object-fit: cover;
}
.cc-nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cc-nav-dropdown__content {
  width: -moz-max-content;
  width: max-content;
  z-index: 999;
}
.cc-nav-dropdown__content[aria-hidden="true"] {
  visibility: hidden;
}
.cc-nav-content {
  display: flex;
  position: relative;
  transition:
    transform var(--cc-nav-mn-duration, 0.4s),
    opacity var(--cc-nav-mn-duration, 0.4s);
}
.cc-nav-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition-duration: var(--cc-nav-modal-animation, 0.4s);
  z-index: 99;
}
.cc-nav-toggle {
  display: none;
}
.cc-nav-toggle svg {
  fill: var(--cc-nav-entrance-icon-color, currentColor);
  height: var(--cc-nav-entrance-icon-size, 18px);
  transition: var(--cc-nav-entrance-icon-duration, 0.3s) ease;
  width: var(--cc-nav-entrance-icon-size, 18px);
}
.cc-nav-toggle .cc-nav-toggle-bar {
  background-color: #000;
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
  width: 24px;
}
.cc-nav-toggle--close {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}
.cc-nav-toggle--close svg {
  fill: var(--cc-nav-exit-icon-color, currentColor);
  height: var(--cc-nav-exit-icon-size, 18px);
  transition: var(--cc-nav-exit-icon-duration, 0.3s) ease;
  width: var(--cc-nav-exit-icon-size, 18px);
}
.cc-nav-toggle--close[disabled] {
  cursor: default;
}
.cc-nav-header {
  align-items: center;
  display: none;
  justify-content: space-between;
}
.cc-nav-header-logo {
  align-items: center;
  display: flex;
  position: relative;
  width: var(--cc-nav-logo-width, 100px);
}
.cc-nav-back,
.cc-nav-header-logo,
.cc-nav-header-logo--img {
  transition: var(--cc-nav-mn-duration, 0.4s);
}
.cc-nav-back {
  align-items: center;
  display: flex;
  gap: 5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(200%);
  visibility: hidden;
  white-space: nowrap;
}
.cc-nav-back svg {
  fill: var(--cc-nav-back-icon-color, currentColor);
  height: var(--cc-nav-back-icon-size, 12px);
  transition: var(--cc-nav-back-icon-duration, 0.4s) ease;
  width: var(--cc-nav-back-icon-size, 12px);
}
[is-modal="true"] .cc-nav-item {
  width: 100%;
}
[is-modal="true"] .cc-nav__submenu[is-sublevel="true"] {
  display: none;
}
[is-modal="true"] .cc-nav__submenu[is-sublevel="true"][state="open"] {
  display: block;
}
[is-modal="true"] .cc-nav-dropdown__button[is-sublevel="true"] {
  display: inline-flex;
}
[is-modal="true"] .cc-nav-dropdown__button--icon--full {
  display: none;
}
[is-modal="true"] .cc-nav-dropdown__button--icon--modal {
  display: block;
}
[is-modal="true"][modal="fullscreen"] .cc-nav-wrapper {
  --cc-nav-m-width: 100%;
}
[is-modal="true"][d-placement="right"] .cc-nav-wrapper {
  left: auto;
  right: 0;
}
[is-modal="true"][d-placement="right"]:not([m-animation]) .cc-nav-wrapper,
[is-modal="true"][d-placement="right"][m-animation="slide"] .cc-nav-wrapper {
  transform: translateX(100%);
  transition: var(--cc-nav-ma-duration, 0.4s) ease-in-out;
}
[is-modal="true"]:not([d-placement]) .cc-nav-wrapper,
[is-modal="true"][d-placement="left"] .cc-nav-wrapper {
  left: 0;
  right: auto;
}
[is-modal="true"]:not([d-placement]):not([m-animation]) .cc-nav-wrapper,
[is-modal="true"]:not([d-placement])[m-animation="slide"] .cc-nav-wrapper,
[is-modal="true"][d-placement="left"]:not([m-animation]) .cc-nav-wrapper,
[is-modal="true"][d-placement="left"][m-animation="slide"] .cc-nav-wrapper {
  transform: translateX(-100%);
  transition: var(--cc-nav-ma-duration, 0.4s) ease-in-out;
}
[is-modal="true"][m-animation="fade"] .cc-nav-wrapper {
  opacity: 0;
  transition-property: opacity;
  transition: var(--cc-nav-ma-duration, 0.4s) ease-in-out;
}
[is-modal="true"][m-animation="fade"].cc-nav--open .cc-nav-wrapper {
  opacity: 1;
  visibility: visible;
}
[is-modal="true"][m-animation="slidetop"] .cc-nav-wrapper {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.1s ease-in-out;
}
[is-modal="true"][m-animation="slidetop"].cc-nav--open .cc-nav-wrapper {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--cc-nav-ma-duration, 0.4s) ease-in-out;
  visibility: visible;
}
[is-modal="true"][m-animation="slidetop"] .cc-nav-content,
[is-modal="true"][m-animation="slidetop"] .cc-nav-header {
  opacity: 0;
  transform: var(--cc-nav-modal-translate, translateY(-10px));
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
[is-modal="true"][m-animation="slidetop"].cc-nav--open .cc-nav-content,
[is-modal="true"][m-animation="slidetop"].cc-nav--open .cc-nav-header {
  opacity: 1;
  transform: var(--cc-nav-modal-translate, translateY(0));
  transition:
    transform var(--cc-nav-mn-duration, 0.4s),
    opacity var(--cc-nav-mn-duration, 0.4s);
}
[is-modal="true"][m-animation="slidetop"].cc-nav--open.animating
  .cc-nav-content,
[is-modal="true"][m-animation="slidetop"].cc-nav--open.animating
  .cc-nav-header {
  transition-delay: var(--cc-nav-ma-duration, 0.4s);
}
[is-modal="true"].cc-nav--open:not([m-animation]) .cc-nav-wrapper,
[is-modal="true"].cc-nav--open[m-animation="slide"] .cc-nav-wrapper {
  transform: translateX(0);
  visibility: visible;
}
[is-modal="true"].cc-nav--open .cc-nav-backdrop {
  opacity: 1;
  pointer-events: auto;
}
[is-modal="true"] .cc-nav__section-header {
  display: flex;
}
[is-modal="true"] .cc-nav-content {
  flex-direction: column;
}
[is-modal="true"] .cc-nav-dropdown__content {
  --cc-nav-modal-translate: translateX(100%);
  left: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
}
[is-modal="true"] .cc-nav-dropdown__content[aria-hidden="true"] {
  display: none;
}
[is-modal="true"] .cc-nav__sublevels {
  display: block;
}
[is-modal="true"] .cc-nav__section[sublevel="true"] {
  --cc-nav-modal-translate: translateX(100%);
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  width: 100%;
}
[is-modal="true"]
  .cc-nav-content--mobile[sublevel="true"]:not([subopen="true"]),
[is-modal="true"] .cc-nav__section[sublevel="true"]:not([subopen="true"]) {
  display: none;
}
[is-modal="true"][open-dropdown="true"] .cc-nav-content {
  --cc-nav-modal-translate: translateX(-100%);
  --cc-nav-modal-delay: 0s;
  transform: translateX(-100%);
}
[is-modal="true"][sublevel="open"] .cc-nav-content {
  --cc-nav-modal-translate: translateX(-200%);
  --cc-nav-modal-delay: 0s;
  transform: translateX(-200%);
}
[is-modal="true"][open-dropdown="true"]:not([sublevel="open"])
  .cc-nav-toggle--back,
[is-modal="true"][open-dropdown="true"][sublevel="open"]
  .cc-nav-toggle--back--sub {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  visibility: visible;
}
[is-modal="true"][open-dropdown="true"][sublevel="open"] .cc-nav-toggle--back {
  transform: translateX(-100%);
}
[is-modal="true"][open-dropdown="true"] .cc-nav-header-logo--img {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  visibility: hidden;
}
[is-modal="true"] .cc-nav-dropdown-caret {
  display: none;
}
[is-modal="true"] .cc-nav-items {
  flex-direction: column;
}
[is-modal="true"] .cc-nav-header {
  display: flex;
}
[is-modal="true"] .cc-nav__section {
  flex-direction: column;
  padding: 0;
}
.cc-nav__submenu-header {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.cc-nav__section-header {
  display: none;
}
.cc-nav-item,
.cc-nav-link {
  cursor: pointer;
}
.cc-nav-item svg,
.cc-nav-link svg {
  fill: currentColor;
}
.cc-nav-dropdown__button--icon-accessible {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transform: rotate(90deg);
  transition-duration: 0.4s;
}
.cc-nav-dropdown__button--icon-accessible svg {
  fill: currentColor;
}
.cc-nav-dropdown__button--icon-accessible:focus {
  opacity: 1;
}
.cc-nav-dropdown__button--icon--modal {
  display: none;
}
.cc-nav:not([is-modal="true"]) .animating.cc-nav-dropdown__content {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cc-nav:not([is-modal="true"]) .cc-nav-dropdown__content {
  background-color: var(--cc-nav-db-color);
}
.cc-nav:not([is-modal="true"]) .cc-nav-items {
  align-items: center;
}
.cc-nav:not([is-modal="true"])[l-animation] .cc-nav-item {
  position: relative;
}
.cc-nav:not([is-modal="true"])[l-animation] .cc-nav-item:before {
  backface-visibility: hidden;
  background-color: var(--cc-nav-link-color, currentColor);
  content: "";
  display: block;
  height: var(--cc-nav-link-thickness, 2px);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition:
    var(--cc-nav-link-duration, 0.4s) transform ease,
    var(--cc-nav-link-duration, 0.4s) opacity ease,
    var(--cc-nav-link-duration, 0.4s) background-color ease;
  width: 100%;
  z-index: 999;
}
.cc-nav:not([is-modal="true"])[l-animation]:not([l-direction])
  .cc-nav-item:before {
  opacity: 0;
}
.cc-nav:not([is-modal="true"])[l-animation]:not([l-direction])
  .cc-nav-dropdown[state="open"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation]:not([l-direction])
  .cc-nav-item:hover:before,
.cc-nav:not([is-modal="true"])[l-animation]:not([l-direction])
  .current
  .cc-nav-item:before {
  opacity: 1;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"] .cc-nav-item:before {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.cc-nav:not([is-modal="true"])[l-animation="underline"] .cc-nav-item:before {
  bottom: 0;
  top: auto;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="center"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="left"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="right"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="center"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="left"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="right"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="center"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="left"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="right"]
  .cc-nav-item:before {
  transform: scaleX(0);
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="bottom"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="top"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="bottom"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="top"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="bottom"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="top"]
  .cc-nav-item:before {
  transform: scaleY(0);
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="center"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="center"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="center"]
  .cc-nav-item:before {
  transform-origin: center;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="right"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="right"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="right"]
  .cc-nav-item:before {
  transform-origin: right;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="left"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="left"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="left"]
  .cc-nav-item:before {
  transform-origin: left;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="top"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="top"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="top"]
  .cc-nav-item:before {
  transform-origin: top;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction="bottom"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction="bottom"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction="bottom"]
  .cc-nav-item:before {
  transform-origin: bottom;
}
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction]
  .cc-nav-dropdown[state="open"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction]
  .cc-nav-item:hover:before,
.cc-nav:not([is-modal="true"])[l-animation="fill"][l-direction]
  .current
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction]
  .cc-nav-dropdown[state="open"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction]
  .cc-nav-item:hover:before,
.cc-nav:not([is-modal="true"])[l-animation="overline"][l-direction]
  .current
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction]
  .cc-nav-dropdown[state="open"]
  .cc-nav-item:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction]
  .cc-nav-item:hover:before,
.cc-nav:not([is-modal="true"])[l-animation="underline"][l-direction]
  .current
  .cc-nav-item:before {
  transform: none;
}
.cc-nav:not([is-modal="true"])[animation="fade"] .cc-nav-dropdown__content {
  opacity: 0;
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="fade"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
}
.cc-nav:not([is-modal="true"])[animation="slidetop"] .cc-nav-dropdown__content {
  opacity: 0;
  transform-origin: top center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--cc-nav-da-duration, 0.4s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidetop"]:not([open-dropdown="true"])
  .cc-nav-dropdown__content {
  transform: scaleY(0);
}
.cc-nav:not([is-modal="true"])[animation="slidetop"]:not([open-dropdown="true"])
  .cc-nav__section {
  opacity: 0;
  transform: translateY(-10px);
}
.cc-nav:not([is-modal="true"])[animation="slidetop"] .cc-nav__section {
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="slidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav__section {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform var(--cc-nav-da-duration, 0.4s),
    opacity var(--cc-nav-da-duration, 0.4s);
  transition-delay: calc(var(--cc-nav-da-duration, 0.4s) - 0.1s);
}
.cc-nav:not([is-modal="true"])[animation="smallslidetop"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(-2px);
  transform-origin: top center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="smallslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="smallslidetop"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="smallslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="mediumslidetop"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(-1rem);
  transform-origin: top center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidetop"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="largeslidetop"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(-2rem);
  transform-origin: top center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="largeslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="largeslidetop"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="largeslidetop"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform-origin: bottom center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--cc-nav-da-duration, 0.4s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"]:not(
    [open-dropdown="true"]
  )
  .cc-nav-dropdown__content {
  transform: scaleY(0);
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"]:not(
    [open-dropdown="true"]
  )
  .cc-nav__section {
  opacity: 0;
  transform: translateY(10px);
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"] .cc-nav__section {
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="slidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav__section {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform var(--cc-nav-da-duration, 0.4s),
    opacity var(--cc-nav-da-duration, 0.4s);
  transition-delay: calc(var(--cc-nav-da-duration, 0.4s) - 0.1s);
}
.cc-nav:not([is-modal="true"])[animation="smallslidebottom"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(2px);
  transform-origin: bottom center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="smallslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="smallslidebottom"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="smallslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="mediumslidebottom"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(1rem);
  transform-origin: bottom center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidebottom"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="mediumslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="largeslidebottom"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform: translateY(2rem);
  transform-origin: bottom center;
  transition: 0.1s ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="largeslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--cc-nav-da-duration, 0.2s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="largeslidebottom"]
  .cc-nav-dropdown-caret
  path {
  opacity: 0;
  transform: scaleY(-0.5);
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="largeslidebottom"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav-dropdown-caret
  path {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform calc(var(--cc-nav-da-duration, 0.2s) * 2),
    opacity calc(var(--cc-nav-da-duration, 0.2s) * 2);
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform-origin: top center;
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"]:not(
    [open-dropdown="true"]
  )
  .cc-nav-dropdown__content {
  transform: scaleY(0);
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"]:not(
    [open-dropdown="true"]
  )
  .cc-nav__section {
  opacity: 0;
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"] .cc-nav__section {
  transition: opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="slidetopsmooth"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav__section {
  opacity: 1;
  transition: opacity var(--cc-nav-da-duration, 0.3s);
  transition-delay: calc(var(--cc-nav-da-duration, 0.3s));
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform-origin: bottom center;
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"]:not(
    [open-dropdown="true"]
  )
  .cc-nav-dropdown__content {
  transform: scaleY(0);
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"]:not(
    [open-dropdown="true"]
  )
  .cc-nav__section {
  opacity: 0;
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"] .cc-nav__section {
  transition: opacity 0.1s;
  transition-delay: 0s;
}
.cc-nav:not([is-modal="true"])[animation="slidebottomsmooth"]
  .cc-nav-dropdown__content[aria-hidden="false"]
  .cc-nav__section {
  opacity: 1;
  transition: opacity var(--cc-nav-da-duration, 0.3s);
  transition-delay: calc(var(--cc-nav-da-duration, 0.3s));
}
.cc-nav:not([is-modal="true"])[animation="scaleinbottom"]
  .cc-nav-dropdown__content {
  opacity: 0;
  transform-origin: bottom center;
  transition: var(--cc-nav-da-duration, 0.3s) cubic-bezier(0.19, 1, 0.22, 1);
}
.cc-nav:not([is-modal="true"])[animation="scaleinbottom"]
  .cc-nav-dropdown__content[aria-hidden="false"] {
  opacity: 1;
  transform: scale(1);
  transition: var(--cc-nav-da-duration, 0.3s) ease-in-out;
}
.cc-nav:not([is-modal="true"])[animation="scaleinbottom"]:not(
    [open-dropdown="true"]
  )
  .cc-nav-dropdown__content {
  transform: scale(1.1) translateY(40px);
}
.cc-gmap-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}
input.location-search-input {
  margin-bottom: 8px;
  width: 100%;
}
.cc-maps-styles-wrap {
  display: grid;
  gap: 0 4px;
  grid-template-columns: 1fr 1fr;
}
.cc-maps-styles-wrap img {
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}
.cc-maps-style-style {
  cursor: pointer;
}
[data-ccp-state="hidden"] {
  visibility: hidden;
}
[data-ccp-state="visible"] {
  visibility: visible;
}
[data-ccp-animation] {
  transition-duration: var(--transition-duration, 0.4s);
  transition-property: opacity, visibility, transform;
  transition-timing-function: ease-in-out;
}
[data-ccp-animation][data-ccp-state="hidden"] {
  opacity: 0;
  transition-duration: var(
    --transition-duration-out,
    var(--transition-duration, 0.4s)
  );
}
[data-ccp-animation][data-ccp-state="visible"] {
  opacity: 1;
}
