{% set path = '@component/' ~ group ~ '/' ~ name ~ '/index.twig' %}
{% set preview_size = params.breakpoint %}


<section class="component-preview">
	<div class="component-preview__preview" style="width: {{ preview_size }}; height: {{ preview_size }};">
		{% include(path) %}
	</div>
</section>
