{% set path = '@component/' ~ group ~ '/' ~ name ~ '/index.html' %}
{% set preview_size = params.breakpoint %}


<section class="component-preview">
	<div class="component-preview__preview" style="width: {{ preview_size }}; height: {{ preview_size }};">
		{{ include(path) }}
	</div>
</section>

<style>
.acfe-fc-placeholder,
.acfe-fc-preview {
  overflow: hidden !important;
}

.layout > .acfe-fc-placeholder {
  overflow: hidden !important;
}
</style>